* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header */

.header-container {
    background-color: #1F2937;
    padding: 1em 13em;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    font-size: 24px;
    color: #f9faf8;

}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}

.links {
    font-size: 18px;
    color: #e5e7eb;
    gap: 16px;
}

/* Awesome */

.one {
    display: flex;
    padding: 7em 0;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.awesome-big {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9FAF8;
}

.awesome-small {
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up-1 {
    background-color: #3882f6;
    color: white;
}



/* Random info */









/* Quote */






/* second CTA  */





/* Footer  */
